
    body {
      margin: 0;
      background-image: url(https://e0.pxfuel.com/wallpapers/981/885/desktop-wallpaper-animated-pixel-pink-pixel-art.jpg);
      font-family: "Pixelify Sans", sans-serif;

    }
    
    .polaroid {
      width: 200px;
      background: white;
      padding: 10px 10px 20px 10px;
      border: 2px solid #000;
      box-shadow: 4px 4px 0px #c0c0c0;
      margin: 20px;
    }
    
    .polaroid img {
      width: 100%;
      display: block;
      border: 1px solid #000;
      
    }
    
    .caption {
      text-align: center;
      margin-top: 5px;
      font-size: 24px;
      font-weight: 800;
      font-family: "Indie Flower", sans-serif;

    }

    
    .topbar {
      display: flex;
      align-items: center;
      background: #000080;
      color: white;
      padding: 6px 10px;
      font-size: 30px;
    }

    .topbar a {
      color: white;
      text-decoration: none;
      margin-right: 20px;
      cursor: pointer;
    }

    .topbar a:hover {
      text-decoration: underline;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-btn {
      color: white;
      background: none;
      border: none;
      font: inherit;
      cursor: pointer;
      margin-right: 20px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background: #f4f4f4;
      border: 2px solid black;
      min-width: 150px;
      z-index: 10;
    }

    .dropdown-content a {
      display: block;
      padding: 8px;
      color: black;
      margin: 0;
      text-decoration: none;
    }

    .dropdown-content a:hover {
      background: #d3d3d3;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .window {
      margin: 40px auto;
      width: 900px;
      background: #f4f4f4;
      border: 3px solid black;
      box-shadow: 0 0 0 4px #c0c0c0;
    }
    
    .photorow {
      display: flex;
      justify-content: space-evenly;
      margin: 40px auto;
    }

    .window-title {
      background: #000080;
      color: white;
      padding: 6px;
      font-weight: bold;
    }

    .window-content {
      padding: 20px;
      font-size: 14px;
    }