
    body {
      margin: 0;
      background-image: url(https://e0.pxfuel.com/wallpapers/981/885/desktop-wallpaper-animated-pixel-pink-pixel-art.jpg);
      font-family: "Pixelify Sans", sans-serif;

    }
    
    .polaroid {
      width: 200px;
      height: 330px;
      background: white;
      padding: 10px 10px 20px 10px;
      border: 2px solid #000;
      box-shadow: 4px 4px 0px #c0c0c0;
      margin: 20px;
      transition: transform 0.4s ease, box-shadow 0.4s ease;
    }

    .ptilt:hover {
        transform: rotate(10deg) scale(1.03);
        box-shadow: 8px 8px 0px #b0b0b0;
        }

    
    
    .polaroid img {
      width: 100%;
      display: block;
      border: 1px solid #000;
      
    }
    
    .caption {
      text-align: center;
      margin-top: 5px;
      font-size: 24px;
      font-weight: 800;
      font-family: "Indie Flower", sans-serif;

    }

    
    .topbar {
      display: flex;
      align-items: center;
      background: #0000aa;
      color: white;
      padding: 6px 10px;
      font-size: 30px;
    }

    .topbar a {
      color: white;
      text-decoration: none;
      margin-right: 20px;
      cursor: pointer;
    }

    .topbar a:hover {
      text-decoration: underline;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-btn {
      color: white;
      background: none;
      border: none;
      font: inherit;
      cursor: pointer;
      margin-right: 20px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background: #f4f4f4;
      border: 2px solid black;
      min-width: 150px;
      z-index: 10;
    }

    .dropdown-content a {
      display: block;
      padding: 8px;
      color: black;
      margin: 0;
      text-decoration: none;
    }

    .dropdown-content a:hover {
      background: #d3d3d3;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .window {
      margin: 40px auto;
      width: 900px;
      background: #f4f4f4;
      border: 3px solid black;
      box-shadow: 0 0 0 4px #c0c0c0;
    }
    
    .photorow {
      display: flex;
      justify-content: space-evenly;
      margin: 80px auto;
    }

    .window-title {
      display: flex;
      justify-content: space-between;
      background: #0000aa;
      color: white;
      padding: 6px;
      font-size: 25px;
      font-weight: bold;
    }

    .window-content {
      padding: 20px;
      font-size: 24px;
    }

    @keyframes shake {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-3px, 0); }
    40% { transform: translate(3px, 0); }
    60% { transform: translate(-3px, 0); }
    80% { transform: translate(3px, 0); }
    100% { transform: translate(0, 0); }
    }

    .shake {
    animation: shake 0.3s ease;
    }

    .flip-card {
    width: 200px;
    height: 330px;
    perspective: 1000px;
    cursor: pointer;
    }

    .flip-inner {
    width: 200px;
    height: 330px;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    position: relative;
    }

    .flip-card.flipped .flip-inner {
    transform: rotateY(180deg);
    }

    .flip-front{
    position: absolute;
    width: 200px;
    height: 330px;
    backface-visibility: hidden;
    }

    .flip-front:hover {
        transform: rotate(10deg) scale(1.03);
        box-shadow: 8px 8px 0px #b0b0b0;
        }

    .flip-back {
    position: absolute;
    width: 200px;
    height: 330px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    }

    .nostyle-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    }

    
